<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/layout :: myLayout(~{this::head}, ~{this::main})">
<head>
<link rel="stylesheet" href="/css/admin/qna.css">
<link rel="stylesheet" href="/css/admin/qna2.css">
<script type="text/javascript" src="https://livejs.com/live.js"></script>

<style type="text/css">
</style>
</head>
<title>무엇이든 물어보셔</title>
<main>
	<div class="wrap-all">
		<nav id="all">
			<div class="wrap content-size">고객센터</div>
			<div class="wrap-2 content-size">자주 묻는 질문</div>
			<div class="wrap between view-size-m">
				<button class="bu-b"><a href="/board-list"><img src="/images/orange.png"/>1:1 문의</a></button>
			</div>
				<div class="div-m">
					<ul class="mu flex center">   
						<li class="admin list">
							<details>
								<summary class="sum">계정</summary>
							  		<p>
									<details>
										<summary class="sum-sub1 subA">질문1</summary>
										<p>답변1</p>
									</details>
								</p>
								<p>
									<details>
										<summary class="sum-sub2 subA">질문2</summary>
										<p>답변2</p>
									</details>
								</p>
							</details>
						</li>
						<li class="Mc list">
							<details>
								<summary class="sum">상품</summary>
								<p>
									<details>
										<summary class="sum-sub1 subA">질문1</summary>
										<p>답변1</p>
									</details>
								</p>
								<p>
									<details>
										<summary class="sum-sub2 subA">질문2</summary>
										<p>답변2</p>
									</details>
								</p>
							</details>
							  	
						</li>
						<li class="truck list">
							<details>
							   <summary class="sum">배송</summary>
							  	<p>
									<details class="det">
										<summary class="sum-sub1 subA">질문1</summary>
										<p>답변1</p>
									</details>
								</p>
								<p>
									<details class="det">
										<summary class="sum-sub2 subA">질문2</summary>
										<p>답변2</p>
									</details>
								</p>
							</details>
						</li>
						<li class="event list">
							<details>
							   <summary class="sum">이벤트</summary>
							  	<p>
									<details class="det">
										<summary class="sum-sub1 subA">질문1</summary>
										<p>답변1</p>
									</details>
								</p>
								<p>
									<details class="det">
										<summary class="sum-sub2 subA">질문2</summary>
										<p>답변2</p>
									</details>
								</p>
							</details>
						</li>
						<li class="etc list">
							<details>
							   <summary class="sum">기타</summary>
							  	<p>
									<details class="det">
										<summary class="sum-sub1 subA">질문1</summary>
										<p>답변1</p>
									</details>
								</p>
								<p>
									<details class="det">
										<summary class="sum-sub2 subA">질문2</summary>
										<p>답변2</p>
									</details>
								</p>
							</details>
						</li>
					</ul>
				</div>
			</nav>
		
	</div>
</main>
</html>