<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/layout :: myLayout(~{this::head}, ~{this::main})">
<head>
<link rel="stylesheet" href="/css/admin/qna.css">
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<style type="text/css">
</style>
</head>
<title>무엇이든 물어보셔</title>
<main>
	<div class="wrap">
		<nav id="all">
			<div class="wrap content-size">고객센터</div>
				<div>
					<ul class="mu flex center">   
						<li class="admin list">
							<a><span>계정</span></a>
						</li>
						<li class="Mc list">
							<a><span>상품</span></a>
						</li>
						<li class="truck list">
							<a><span>배송</span></a>
						</li>
						<li class="event list">
							<a><span>이벤트</span></a>
						</li>
						<li class="etc list">
							<a><span>기타</span></a>
						</li>
					</ul>
				</div>
			</nav>
		<section id="go-b">
			<div class="wrap flex center view-size-m">
				<button class="bu-b"><a href="/board-list"><img src="/images/orange.png"/>게시판 이동</a></button>
			</div>
		</section>
	</div>
</main>
</html>