<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<a href="/">HOME</a>
<h1>Infomation</h1>
<div sec:authorize="isAuthenticated()">인증된 유저만 볼 수 있는 텍스트입니다.

	<div sec:authorize="hasRole('USER')">Has USER ROle</div>
	<div sec:authorize="hasRole('ADMIN')">Has ADMIN ROle</div>

	Authenticated userName: (sec:authentication="name")
	<div sec:authentication="name"></div>
	Authenticated user roles: (권한들)
	<div sec:authentication="principal.authorities">

	</div>
	principal.email
	<div sec:authentication="principal.email"></div>
	principal.name
	<div sec:authentication="principal.name"></div>
	principal.nickName
	<div sec:authentication="principal.nickName"></div>
	principal.social
	<div sec:authentication="principal.social"></div>
	principal.deleted
	<div sec:authentication="principal.deleted"></div>

</div>
</body>
</html>