<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="myLayout(head, main)">
<head>
    <script src="/js/user/cart.js"></script>
    <meta charset="UTF-8">
    <title>템풀릿</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/commons/header.css">
    <link rel="stylesheet" href="/css/commons/footer.css">
    <link rel="stylesheet" href="/css/goods/goodsDetailPage.css">

    <script src="/js/user/rating.js"></script>
    <script src="/js/user/detailPage.js"></script>


</head>
<body>
<th:block th:insert="/layout/header::header"/>
<main id="all">
    <div class="wrap flex">
        <div class="leftS">
            <div th:each="img:${imgs}" th:if="${img.defImg}">
                <img th:src="${img.totUrl}" alt="상품이미지">
            </div>
            <div class="flex secondParents">
                <div class="second" th:each="img:${imgs}" th:if="!${img.defImg}">
                    <img th:src="${img.totUrl}" width="100px" height="100px" alt="상품이미지">
                </div>
            </div>
            <div class="third" th:text="${dto.content}">
                콘텐츠
            </div>
        </div>
        <div class="rightS">
            <h3 th:text="${dto.title}"></h3>
            <!--            <div class="RS" th:text="${dto.specifications}"></div>-->
            <div class="price" th:text="${dto.price}+'원'"></div>
            <section class="color">
                <div>Pick a colour: moonrise pink</div>
                <div class="color2">
                    <button></button>
                </div>
            </section>
            <section class="color">
                <div>Quintity</div>
                <div class="btn-ea">
                    <ul class="flex" style="text-align:center;">
                        <li class="bseq_ea">10</li>
                        <li class="flex">
                            <input type="hidden" name="sell_price" value="65" id="vprice">
                            <input type="button" value=" - " name="minus" id="minus">
                            <input type="text" name="amount" value="1" size="3" max="99" id="amount">
                            <input type="button" value=" + " name="add" id="add">
                        </li>
                    </ul>
                </div>
            </section>
            <button>장바구니추가</button>
            <button>바로구매</button>
            <div class="goodsdetail">
                <h2>specifications</h2>
                <ul th:text="${dto.specifications}">
                    <!--                    <li><h2>sizes</h2></li>-->
                    <!--                    <li><span>size - </span><span>27 x 13 x 38 cm</span></li>-->
                    <!--                    <li><span>maximun shoulder strap - </span><span>67cm</span></li>-->
                    <!--                    <li><br></li>-->
                    <!--                    <li><h2>materials</h2></li>-->
                    <!--                    <li><span>material outside - </span><span>recycled PET bottles</span></li>-->
                    <!--                    <li><span>material inside - </span><span>waterproof nylon</span></li>-->
                    <!--                    <li><span>material strap - </span><span>cotton webbing</span></li>-->
                    <!--                    <li><span>zipper - </span><span>matt white YKK</span></li>-->
                    <!--                    <li><span>buckles - </span><span>matt white metal</span></li>-->

                </ul>
                <hr>
                <h2>product care</h2>
                <div th:text="${dto.productCare}">
                    <!--                    You can easily clean this bag with a wet cloth. We advise you not to wash the bag in the-->
                    <!--                    washing-->
                    <!--                    machine. Just some water will do the trick!-->
                </div>
            </div>

        </div>

    </div>
    <div id="reply">
        <p>별점과 상품평을 입력해주세요</p>
        <form method="post" action="/comm/goods/detail/{gno}">
            <input value="5" name="rate" type="hidden">
            <textarea cols="70" name="text">
            </textarea>
            <input type="hidden" name="goodsNo" th:value="${dto.no}">
            <br>
            <div>
                <button type="submit">등록하기</button>
            </div>
        </form>
    </div>
</main>
<th:block th:insert="/layout/footer::footer"/>
</body>
</html>