#all {
    width: 890px;
    height: 1044px;
    line-height: 170%;
    margin: 25px auto;
}

.leftS {
    margin-right: 45px;
}

.leftS > div > img {
    position: relative;
    width: 500px;
    height: 750px;

}

.second {
    position: relative;
    width: 500px;
    height: 49px;
}

.leftS > div:last-child {
    position: relative;
    width: 500px;
    height: 144px;
}

.rightS > h3 {
    font-size: 32px;
    font-weight: 400;
}

.RS {
    font-size: 14px;
    margin-top: 12px;
}

.price {
    margin: 10px 0;
    font-size: 20px;
    color: #3e7de8;
}

.color > div:first-child {
    color: #d2973c;
}

.rightS > section {
    margin: 25px 0;
}

.rightS > button {
    width: 355px;
    height: 40px;
    background-color: #d2973c;
    margin: 10px 0;
    border-radius: 5px;
}

.rightS > button > span {
    font-size: 14px;
    color: white;
}

.goodsdetail {
    margin: 25px 0;
}

.goodsdetail > h2 {
    font-size: 14px;
    color: #3E498F;
    margin: 5px 0;
}

.goodsdetail > div {
    font-size: 16px;
}

.goodsdetail > hr {
    margin: 25px 0;
}

.goodsdetail > ul > li > h2 {
    margin: 10px 0;
}

.bseq_ea{
    display: none;
    color: transparent;
    margin: 10px 0;
}
.btn-ea{
    margin:15px 0;
}
.btn-ea>ul>li{
    border: 1px solid transparent;
}
.btn-ea>ul>li>*{
    flex: 1;
}
.btn-ea>ul>li>input:focus{
    outline: none;

}
.btn-ea>ul>li>input{
    /*border:1px solid transparent;*/
    width: 40px;
    font-size: 18px;
    padding:0px;

}
.btn-ea>ul>li>button{
    width: 25px;
    font-size: 22px;
    font-weight: 700;
}
.color>div>button{
    height: 21.5px;
    width: 21.5px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #e87f3e;
    margin: 1.5px;
}
.color2{
    border:1px solid #d2973c;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}