@charset "UTF-8";


ul{
   list-style:none;
   margin-top: 10px;
}
nav>div>ul>li>a>img{
	
    width: 38px;
    height: 45px;
}
/*------------------------------------------------*/
div>nav>.wrap ul li{
	padding: 1em;
}
div>nav>.wrap ul li a{
	color: rgb(188, 125, 7); /*메뉴 색!  */
	padding: 1em;
}

#fn2>.wrap>ul.flex > li>button{
	background-color:#fde8ae;
	width: 60px;
	height: 60px;
	border: 0;
	border-radius: 5em;
	
}
#fn2>.wrap>ul.flex > li.upup{
	position:absolute;
	height: 10px;
}

#h-b>.wrap{
	border-top:1px solid #e9e9e9;
}
#h-b>.wrap dl>dt{
	margin-right: 40px;
}
#h-b>.wrap dl>dd .dropdown{
	margin: 0 20px;
	/* position: relative; */
}
#h-b>.wrap dl>dd .dropdown:hover .dropdown-content{
	display: flex;
}
#h-b>.wrap dl>dd .dropdown .dropdown-content{
	display: none;
	position: absolute;
	width:100vw;
	padding:0.5em 1em;
	top :87px;
	left: 0;
	border: 1px solid #e9e9e9;	
	background-color: rgba(255,255,255,75%);
	justify-content: center;
}
#h-b>.wrap dl>dd .dropdown .dropdown-content ul{
	display: flex;
}
#h-b>.wrap dl>dd .dropdown .dropdown-content ul>li a{
	padding: 0.5em 1em;
	display: inline-block;
}
