@charset "UTF-8";
@import url("admin-outline.css");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  left:-20px;
  display : inline-block;
  padding: 60px 0px 60px 0px;
  
}

.menulogo{
	position: absolute;
	top: 200px;
	left: 60px;
	box-shadow: 0 0 0 0 lightblue; 
}
.dropmenu{
  position: absolute;
  border-radius: 25px;
  background: 1px solid rgba(0, 128, 192,0.2);
}
.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  border : 3px solid rgba(0, 128, 192,0.2);
  border-radius : 4px;
  background-color: rgba(0, 128, 192,0.2);
  width :200px;
  padding : 12px;
  font-weight: 500;
  color : rgb(37, 37, 37);
  text-align: left;
  cursor : pointer;
  box-shadow: 0 0 20px 0 lightblue;
  
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  background-color: #f9f9f9;
  min-width : 200px;
}

.dropdown-content a{
  display : block;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}