@charset "UTF-8";


h3{display: none;}
body a{text-decoration: none;}


header{
	background-color: #fff;
}
main{
	height:800px;
	background-color: rgba(251, 211, 138,0.25);
}

main>.wrap{
	margin: 20em;
	border-radius: 25px;
 	border: 2px solid rgba(0, 0, 0, 0.01);
 	box-shadow: 1px 1px rgba(255, 255, 255, 0.1);
} 
