@charset "UTF-8";

.wrap-all{
	margin-bottom: 20em;
}

#all {
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
	text-align: center;
	padding-top: 50px;
	
	
}
#all div.wrap{
	margin: 0px auto;
    color: #81573F;
    font-weight: 500;
    font-size: 21px;
    padding: 25px 0 25px;
    width: 10%;
    border-color:#b18056;
    padding: 15px 0 15px;
}
#all div.wrap-2{
	margin: 0px auto;
    color: #81573F;
    font-weight: 500;
    font-size: 15px;
    padding: 25px 0 25px;
    background: #fff0ca;
    display: inline-block;
    width: 22%;
    border-radius: 25px;
    padding: 15px 0 15px;
    
}
.div-m{
	margin: 10px;
}
#all div span{
	margin: 30px auto;
}

ul.mu{ 
	margin:35px auto;
	justify-content: center;
}

ul.mu li{
	margin: 10px;
}

ul.mu li summary.sum{
	width: 70px;
	padding-top: 5em;
}

.mu details {
    padding: 0.5em 0.5em ;
    margin-bottom: 1em;
}
.mu summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    width: 1px;
    color:  rgb(188, 125, 7);
	display: flex;
}

.mu details[open] {
    padding: .5em;
	 float: inherit;
}
.mu details[open] summary {
    margin-bottom: .5em;
 
}
.subA{
	float: inherit;
}