@charset "UTF-8";

#all {
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
	text-align: center;
	
}
#all div.wrap{
	margin: 0px auto;
    color: #81573F;
    font-weight: 500;
    font-size: 21px;
}
#all div span{
	margin: 30px auto;
}

ul.mu{ 
	margin:35px auto;
	
}

ul.mu li a span{
	color:  rgb(188, 125, 7);
	position: absolute;
	top:35px;
	left:40px;
	display: flex;
	
}

.list {
	position: relative;
	width: 60px;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 5em 0 2em;
	
}

.admin {
	background-image: url(/images/cs/admin2.png);
}

.Mc {
	background-image: url(/images/cs/box2.png);
}

.truck {
	background-image: url(/images/cs/truck2.png);
}

.event {
	background-image: url(/images/cs/firework2.png);
}

.etc {
	background-image: url(/images/cs/notebook2.png);
}

.bno {
	width: 40px;
	font-weight: 500;
	color: white;
}

.title {
	width: 350px;
	font-weight: 500;
	color: white;
}

.writer {
	width: 100px;
	font-weight: 500;
	color: white;
}

.createdDate {
	width: 100px;
	font-weight: 500;
	color: white;
}

.readCount {
	width: 80px;
	font-weight:500;
	color: white;
}

#go-b>div{
	padding: 50px ;
}

.bu-b{
	background-color:#97654A;
	color:#D2B3A2;
	font-size: 17px;
	padding: 13px;
	border-radius: 25px;
	font-weight:500;
}
.bu-b a{

	color:#D2B3A2;
	
}
.bu-b img{
	height: 10px;
	position: relative;
}