<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>StcikyAdmin</title>
			<link rel="stylesheet" href="/css/admin/admin-outline.css">
			<link rel="stylesheet" href="/css/admin/admin-header.css">
			<link rel="stylesheet" href="/css/admin/admin-main.css">
			<link rel="stylesheet" href="/css/admin/admin-footer.css">
			<link rel="stylesheet" href="/css/commons/common.css">	
	</head>
	
	<body>
		<th:block th:insert="adminpage/admin-header::header" />
		<th:block th:insert="adminpage/admin-main::main" />
		
		<footer>
			<div class="flex between view-size-b">
				<nav id="fn1">
					<p>opyright © sticky orange 2022 - all rights reserved.<p>
				</nav>
				<nav id="fn2">
					<li>
						<a href="#">About</a>
						<a href="#">Support</a>
					</li>
				</nav>
			</div>
			
		</footer>
	</body>
</html>