<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="/css/admin/admin-footer.css">

	<footer>
		<div class="flex between view-size-b">
			<nav id="fn1">
				<p>opyright © sticky orange 2022 - all rights reserved.<p>
			</nav>
			<nav id="fn2">
				<li>
					<a href="#">About</a>
					<a href="#">Support</a>
				</li>
			</nav>
		</div>
	</footer>

</html>