<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8">
	<title>StikyAdmin</title>
		<link rel="stylesheet" href="/css/admin/admin-main.css">
		<link rel="stylesheet" href="/css/admin/admin-footer.css">
		<link rel="stylesheet" href="/css/admin/admin-outline.css">
		<link rel="stylesheet" href="/css/admin/admin-header.css">
		<link rel="stylesheet" href="/css/commons/common.css">	
	</head>
	
	<body>
	<th:block th:insert="adminpage/admin-header::header" />
	
		
		<main >
			<div class="wrap">
				<ul class="g-containter">
					<li>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
					</li>
					<li>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
					</li>
					<li>
						<p>작은칸</p>
						<p>작은칸</p>
					</li>
					<li>
						<p>작은칸</p>
					</li>
					<li>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
					</li>
					<li>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
						<p>안녕하세요</p>
					</li>
				</ul>
				
				 
			</div>
		</main>
	
		


	</body>
</html>