<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="/css/admin/admin-header.css">

<header>
	<div class="wrap view-size-m flex">
		<nav id="fn1">
			<div class="wrap">
				<ul class="flex">
					<li><a href="/">About</a></li>
					<li><a href="/">Products</a></li>
					<li><a href="/">Reports</a></li>
					<li><a href="/">Contacts</a></li>
				</ul>
			</div>
		</nav>
		<nav id="fn2">
			<div class="wrap">
				<ul class="flex">
					<li><a href="/"><img src="/images/headerImg/or.png"/></a></li>
					<li><a href="/"><img src="/images/headerImg/or.png"/></a></li>
					<li><a href="/"><img src="/images/headerImg/or.png"/></a></li>
					<li><a href="/"><img src="/images/headerImg/or.png"/></a></li>
					<li class="upup"><button><a href="/">New Project</a></button></li>
				</ul>
			</div>
		</nav>
	</div>
	
	
	<div class="flex">
			<div class=menulogo><h3>메뉴로고</h3>
				<h2>MENU<h2>
			</div>
			<div class=dropmenu><h3>메뉴부분영역</h3>
				
				<div class="dropdown">
			      <button class="dropbtn"> 
			        
			         <a href="#">회원관리</a>
			      </button>
			      <div class="dropdown-content">
			        <a href="#">회원조회</a>
			        <a href="#">회원정보수정</a>
			        <a href="#">회원삭제</a>
			      </div>
			    </div>
			    
			    <div class="dropdown">
			      <button class="dropbtn"> 
			       
			        <a href="#">상품관리</a>
			      </button>
			      <div class="dropdown-content">
			        <a href="#">상품등록</a>
			        <a href="#">상품수정</a>
			        <a href="#">임시보관함</a>
			      </div>
			    </div>
			    
			    <div class="dropdown">
			      <button class="dropbtn"> 
			       
			        QNA
			      </button>
			      <div class="dropdown-content">
			        <a href="#">FAQ 답변</a>
			        <a href="#">문의글조회및삭제</a>
			        <a href="#">답변글 작성</a>
			      </div>
			    </div>
			    
			    <div class="dropdown">
			      <button class="dropbtn"> 
			       
			        매출현황
			      </button>
			      <div class="dropdown-content">
			        <a href="#">매출조회</a>
			        <a href="#">매출분석</a>
			        <a href="#">매출통계</a>
			      </div>
			    </div>
			    

			</div>
		</div>
</header>
</html>