<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="/css/admin/admin-header.css">

<header>
	<section>
		<h1>헤더상단메뉴</h1>
		<div class="wrap flex between view-size-b">
			<h1>메뉴</h1>
			<nav id="fn1">
				<div class="wrap">
					<ul class="flex">
						<li><a href="/">About</a></li>
						<li><a href="/">Products</a></li>
						<li><a href="/">Reports</a></li>
						<li><a href="/">Contacts</a></li>
					</ul>
				</div>
			</nav>
			<nav id="fn2">
				<div class="wrap">
					<ul class="flex">
						<li><a href="/"><img src="/images/headerImg/or.png"/></a></li>
						<li><a href="/"><img src="/images/headerImg/or.png"/></a></li>
						<li><a href="/"><img src="/images/headerImg/or.png"/></a></li>
						<li><a href="/"><img src="/images/headerImg/or.png"/></a></li>
						<li class="upup"><button><a href="/">작성하기</a></button></li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
	<section id="h-b">
		<h1>헤더하단메뉴</h1>
		<div class="wrap">
			<dl class="flex view-size-b">
				<dt>
					<div class="menulogo">
						<h2><a >MENU</a><h2>
					</div>
				</dt>
					
				<dd class="dropmenu flex ">
					<h3>메뉴부분영역</h3>

					<div class="dropdown">
						<button class="dropbtn">
							<a href="#">회원관리</a>
						</button>
						<div class="dropdown-content">
							<ul>
								<li><a href="#">회원조회</a></li>
								<li><a href="#">회원정보수정</a></li> 
								<li><a href="#">회원삭제</a></li>
							</ul>
						</div>
					</div>

					<div class="dropdown">
						<button class="dropbtn">

							<a href="#">상품관리</a>
						</button>
						<div class="dropdown-content">
							<ul>
								<li><a href="#">상품등록</a></li>
								<li><a href="#">상품수정</a></li>
								<li><a href="#">임시보관함</a></li>
							</ul>
						</div>
					</div>

					<div class="dropdown">
						<button class="dropbtn">QNA</button>
						<div class="dropdown-content">
							<ul>
								<li><a href="#">FAQ 답변</a></li>
								<li><a href="#">문의글조회및삭제</a></li>
								<li><a href="#">답변글작성</a></li>
							</ul>
							  
						</div>
					</div>

					<div class="dropdown">
						<button class="dropbtn">매출현황</button>
						<div class="dropdown-content">
							<ul>
								<li><a href="#">매출조회</a></li>
								<li><a href="#">매출분석</a></li>
								<li><a href="#">매출통계</a></li>
							</ul>
							  
						</div>
					</div>
				</dd>
			</dl>
		</div>
	</section>
	
	
</header>
</html>