<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace = "layout/layout :: myLayout(~{this::head}, ~{this::main})">
<head>
	<link rel="stylesheet" href="/css/main/shop.css">
</head>
<main>
	<a href="/">HOME</a>
	<div class="flex" style="margin: 0 auto;">
		<aside style="flex: 1">좌측</aside>
		<div style="flex:4;" class="flex column">
			<div>상단정렬바</div>
			<div class="flex column ">
				<ul class="flex" style="flex: 1">
					<li style="flex: 1">1</li>
					<li style="flex: 1">2</li>
					<li style="flex: 1">3</li>
					<li style="flex: 1">4</li>
				</ul>
				<ul class="flex" style="flex: 1">
					<li style="flex: 1">5</li>
					<li style="flex: 1">6</li>
					<li style="flex: 1">7</li>
					<li style="flex: 1">8</li>
				</ul>
			</div>
		</div>
	</div>


</main>
</html>