<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  th:replace="layout/layout :: myLayout(~{this::head}, ~{this::main})">
<head>
	<link rel="stylesheet" href="/css/main/intro.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<main class="view-size">
	<a href="/admin">어드민페이지</a>
	<!--
	<a href="/admin/goods/list">어드민상품리스트</a>
	<a href="/admin/goods/detail">어드민상품디테일(수정)</a>-->
	<a href="/members/info">유저정보페이지</a>
	<!-- <a sec:authorize="isAuthenticated()" href="/logout">로그아웃</a> -->
	<a href="/members/cart"></a>
	<h1>메인컨텐츠</h1>
	<th:block th:insert="views/main/intro::main"></th:block>

	<hr>
	<div class="wrap" id="bot">
		<div>
			<a href="/comm/qna"> <img src="/images/orange.png" width="60px" height="60px;">
				<h5>문의주쇼</h5>
			</a>
		</div>
	</div>
</main>
</html>