<th:block th:fragment="main" >
	<section class="flex center">
		<div>
			<img src="/images/bgImg.jpg"
				 alt="no img" style="width: 653px; height: 898px; object-fit: cover; object-position: 50% 50%;">
		</div>
		<div class="intro-right flex center column">
			<h2>What is on</h2>
			<h2>your wishlist?</h2>
			<p>Get inspired for the</p>
			<p>upcoming gift season with our</p>
			<p>selected Sticky items</p>
			<div>
				<input type="button" value="GO TO THE GIFTSHOP"/>
			</div>

		</div>
	</section>
	<section class="sec-2 flex">
		<div>

		</div>
		<div>

		</div>
		<div>

		</div>
		<div>

		</div>
	</section>

</th:block>