<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/layout2 :: myLayout2(~{this::head}, ~{this::main})">
<head>
<link rel="stylesheet" href="/css/sign/signin2.css">
<style type="text/css">
</style>
</head>
<main>
	<h1>메인컨텐츠</h1>
	<div id="all">
		<div class="wrap">
			<div class="wrap" id="login">
				<div>
					<button class="x">
						<a href="/">X</a>
					</button>
				</div>
				<span>Log in</span>
			</div>
			<div>
				<form>
					<div class="wrap" id="sgmain">
						<span>New to this site?</span>
							<span><a href="/signup">Sign up</a></span>
						<div class="wrap" id="input">
							<div>Email</div>
							<div>
								<input id="inputId" type="email" placeholder="Email" />
							</div>

							<div>Password</div>
							<div>
								<input id="inputPw" type="password" placeholder="password" />
							</div>
						</div>
					</div>
					<div>
						<div id="forgot">
							<div>
								<a href="#">Forgot password?</a>
							</div>
						</div>
					</div>
					<div>
						<div class="wrap" id="log-btn">
							<button>Log In</button>
						</div>

					</div>
				</form>
			</div>
			<div id="line">
				<div></div>
			</div>
			<div class="wrap" id="or">
				<span>&nbsp;&nbsp;or log in with&nbsp;&nbsp;</span>
			</div>
			<div class="wrap" id="email">
				<div class="flex">
					<button>
						<img src="/images/google.png" width="23px">
					</button>
					<button>
						<img src="/images/kakao.png" width="23px">
					</button>
				</div>
			</div>
		</div>
	</div>
</main>
</html>