

.items{
    align-items: center;
}
.items>div{
    align-items: center;
    text-align: center;
}
.items>img{
    width: 80%;
    height: 80%;
}
.items-list ul li{
    margin-right: 5vw;
}
#filter{
    margin-left: 20px;
}
#filter>span{
    font-size: 26px;
}
#filter>button{
    width: 100%;
    font-size: 16px;
}
#filter>ul>li>input{
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 5px 0;
    font-size: 14px;
    color: rgba(54, 50, 50, 0.63);
}
#filter>ul>li>input.target{
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}