<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="adminpage/admin-layout::adminLayout(~{this::head}, ~{this::main})">
<head>
	<link rel="stylesheet" href="/css/admin/goods/admin-detail.css">
	<script>
		var idx=1;
		$(document).ready(function() {
			$('#summernote').summernote();
			$("#btn-img-add").click(addTag);
			/*$(".btn-img-delete").click(removeTag);*/
		});
		function removeTag(el){
			$(el).parents("div.addimg").remove();
		}

		function gimgChanged(el){
			var fileData = $(el)[0].files[0];
			console.log(fileData);

			var formData = new FormData();
			formData.append('gimg',fileData);

			$.ajax({

				url:"/admin/temp-upload",
				type:"post",
				data:formData,
				contentType:false,
				processData:false,
				success:function (map){//서버에 업로드 성공시에 url주소를 받아서처리
					console.log(map);

					$(el).siblings(".img").css("background-image", "url("+map.url+")");
					$(el).siblings(".newName").val(map.fileName);
					//대표이미지 와 추가이미지 구분
					if($(el).prop("id")=="defimg") return; //대표이미지 처리는 여기서끝
				}
			});
		}


		function addTag() {
			// class="addimg" 인 모든 태그 (복수형)
			var addimgs = $(".addimg")

			var tag=	//자바스크립트 백틱 이용하여 변수적용 가능합니다~
					`
					<div class="addimg">
						<label class="img" for="addimg${idx}">+</label>
						<input id="addimg${idx}" class="gimg" type="file" name="gimg" onchange="gimgChanged(this)">
						<input type="hidden" class="newName" name="newName">
						<div>
							<button class="btn-img-delete" type="button" onclick="removeTag(this)">삭제</button>
						</div>
					</div>
					`;
			if($("addimgs").length){	//태그 추가
				addimgs.last().after(tag);
			}else{
				$("#btn-img-add").before(tag);	//추가이미지 하나도 없을 때.
			}

			idx++;
		}
	</script>
</head>
<main class="content-size">
	<h1>상품 상세 페이지</h1>
	<form class="flex">
		<ul class="flex column" style="flex: 1">
			<li>
				<ol th:each="img:${imgs}" th:if="${img.defImg}">
					<li>대표이미지</li>
					<li>
						<div>
							<label class="img main-img" for="defimg" th:style="|background-image: url('${img.totUrl}')|">+</label>
							<input id="defimg" class="gimg" type="file" name="gimg" onchange="gimgChanged(this)">
							<input type="hidden" class="newName" name="newName">
						</div>
					</li>
				</ol>
				<ol >
					<li>추가이미지</li>
					<li id="addimgList" class="flex">
						<div class="addimg" th:each="img, imgStat : ${imgs}" th:if="!${img.defImg}">
							<label class="img" th:for="|addimg_${imgStat.count}|" th:style="|background-image: url('${img.totUrl}')|">+</label>
							<input th:id="|addimg_${imgStat.count}|" class="gimg" type="file" name="gimg" onchange="gimgChanged(this)">
							<input type="hidden" class="newName" name="newName">
							<div>
								<button class="btn-img-delete" type="button" onclick="removeTag(this)">삭제</button>
							</div>
						</div>

						<button type="button" id="btn-img-add">사진추가</button>
					</li>
				</ol>
			</li>
			<li>
				<label>내용
					<textarea id="summernote" th:text="${dto.content}">
					</textarea>
					<!--/*<textarea id="summernote">[[${detail.content}]]</textarea>*/-->
				</label>
			</li>
		</ul>
		<ul class="details flex column" style="flex: 1">
			<li>
				<label>상품번호
					<span th:text="${dto.no}"></span>
					<!--/*<span>[[${detail.gno}]]</span>*/-->
				</label>
			</li>
			<li>
				<label>등록일
					<span th:text="${dto.createdDate}">detail.createdDate</span>
					<!--/*<span>[[${detail.createdDate}]]</span>*/-->
				</label>
			</li>
			<li>
				<label>수정일
					<span th:text="${dto.updatedDate}">detail.updatedDate</span>
					<!--/*<span>[[${detail.createdDate}]]</span>*/-->
				</label>
			</li>
			<li>
				<label>상품명
					<input type="text" th:value="${dto.title}">
				</label>
			</li>

			<li>
				<label>판매가격
					<input type="text" th:value="${dto.price}">
				</label>
			</li>
			<li>
				<label>재고
					<input type="text" th:value="${dto.stock}">
				</label>
			</li>
			<li class="flex column">
				<div>
					<p>specifications</p>
					<textarea th:text="${dto.specifications}">
					</textarea>

				</div>

				<hr>
				<div>
					<p>product care</p>
					<textarea th:text="${dto.productCare}">
					</textarea>
				</div>
			</li>
			<li class="btn-edit">
				<button type="submit">수정완료</button>
				<button type="button">취소</button>
				<button type="button">삭제</button>
			</li>
		</ul>
	</form>
</main>

</html>